html
  head
    link(href='css/styles.css' type='text/css' rel='stylesheet')
    title= title
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="./js/rezui.js")
  body
    #cont
      select#restaurants(name="restaurant")
      button(onclick='loadForm()') Get Tables
      select#tables(name="table")
      button(onclick='offerTable()') Offer
      button(onclick='reserveTable()') Rserve